{% extends "CalmSocialBundle::layout.html.twig" %}
{% block head %}
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <script type="text/javascript" src="{{ asset('calm/web/bundles/calmsocial/js/default.js') }}"></script>
{% endblock %}


{% block title 'Social Bundle' %}



    {% block sidebar %}



<h2>Disciplinas</h2>
        <ol id="dashboardDisciplines">

                {% for discipline in disciplines %}
                    {%if discipline.id != followedDiscipline.id %}
                        <li class="dashboardDisciplinesItem">
                            <a class="dashboardDisciplinesItemLink" href="{{ path('_followDiscipline', { 'disciplineId': discipline.id }) }}">{{ discipline.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
<a href="{{ path('_listDisciplines') }}">Mais Disciplinas</a>
        </ol>
    {% endblock %}

{% block body %}

<div class="stream">

        {% block content %}

            <h2 id="disciplineTitle">{{ followedDiscipline.name }}</h2>
			<div id="questionForm">
				<form action="{{ path('_askQuestion', {'discipline_id': followedDiscipline.id}) }}" method="POST" {{ form_enctype(formQuestion) }}>
					<div class="formError">
						{{ form_errors(formQuestion) }}
					</div>
					<div id="question">
						{{ form_widget(formQuestion.description) }}
					</div>
					<div id="questionControls">
						<input id="questionSubmit" class="defaultButton" type="submit" value="Perguntar" />    
					</div>
					{{ form_rest(formQuestion) }}
				</form>
			</div>

                

            <ol id="streamQuestions" >
            {% for question in questions %}
                <li class="streamQuestionsItem" id="question{{question.id}}">
					<div id="questionDescription{{question.id}}" class="questionDescription">
						
						<div class="postInfo">
							<div><img src="https://lh4.googleusercontent.com/-t2SbMDyhvzk/AAAAAAAAAAI/AAAAAAAAARE/-u-gxAPcPOU/s46-c-k-no/photo.jpg" /></div>
							<div>{{ question.user.firstname }}</div>
							<time class="timeago" datetime="{{question.timestamp|date('c')}}"></time>	
						</div>
						<div>{{ question.description }}</div>
						
					</div>
					<div id="question{{question.id}}Details">
						<div id="questionAnswers{{question.id}}">
								
						</div>
						<div id="formAnswers{{question.id}}"></div>
					</div>
                </li>
             {% endfor %}
            </ol>
        {% endblock %}
</div>

{% endblock %}
